
{% extends "learnings_logs/base.html" %}

{% block header %}
    <div class="jumbotron">
        <h1>Track your learnings.</h1>
    </div>
{% endblock header %}

{% block content %}
    <h2>
        <a href="{url 'users:regiter'}">Register an account</a>
        tp make your own Learnings Log, and list the topics you're learning about.
    </h2>
    <h2>
        Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Повседневная практика показывает, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
    </h2>

{% endblock content %}
